@CHARSET "UTF-8";

/* Handles the logo only */
img.logo {
	padding-top: 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 329px;
	width: 677px;
	display: block;
}

/* The style we use for the front piece images */
img.center-piece {
	padding-top: 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 300px;
	display: block;
}

/* 
 * Sets up the main typeface of the site - note that we don't start
 * with "resources", because we're already at resources (this css file) 
 */

/* Regular */
@font-face {
	font-family: junction;
	src: url('font/Junction.ttf');
}

/* Main body styles */
body {
	background-color: white;
}

/* All our links are the same */
a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: underline;
}

a:active {
	color: black;
	text-decoration: none;
}

/* The font info for the bulk of the text */
.body-text {
	height: 500px;
	overflow: auto;
	font-family: junction;
	font-size: 16pt;
}

/* Specifically for the links at the bottom of the page */
#footer-table {
	clear: both;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-family: junction;
	font-size: 18pt;
}
/* Want more spacing out of the links */
#footer-table td {
	padding-right: 20px;
	padding-left: 20px;
}

/* Here begins our main styles for the table on the pages */
div.table-row {
	width: 1000px;
	margin: 0 auto;
}

div.left-side {
	float: left;
	width: 400px;
}

div.right-side {
	padding-left: 50px;
	float: right;
	width: 550px;
}
