@CHARSET "UTF-8";

/* column container */
.colmask {
	position: relative; /* This fixes the IE7 overflow hidden bug */
	clear: both;
	float: left;
	width: 100%; /* width of whole page */
	overflow: hidden; /* This chops off any overhanging divs */
}
/* common column settings */
.colright,.colmid,.colleft {
	float: left;
	width: 100%; /* width of page */
	position: relative;
}

.col1,.col2,.col3 {
	float: left;
	position: relative;
	padding: 0 0 2px 0;
	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow: hidden;
}
/* 3 Column settings */
.threecol {
	background: #FFFFFF; /* right column background colour */
}

.threecol .colmid {
	right: 33%; /* width of the right column */
	background: #FFFFFF; /* center column background colour */
}

.threecol .colleft {
	right: 33%; /* width of the middle column */
	background: #FFFFFF; /* left column background colour */
}

.threecol .col1 {
	width: 30%;
	/* width of center column content (column width minus padding on either side) */
	left: 102%; /* 100% plus left padding of center column */
}

.threecol .col2 {
	width: 30%;
	/* Width of left column content (column width minus padding on either side) */
	left: 36%;
	/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}

.threecol .col3 {
	width: 30%;
	/* Width of right column content (column width minus padding on either side) */
	left: 77%; /* Please make note of the brackets here:
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}