<br />
<br />
<br />
<table id="footer-table">
	<tr>
		<td>
			<a href="collection">collection</a>
		</td>
		<td>
			<a href="about">about us</a>
		</td>
		<td>
			<a href="contact">contact us</a>
		</td>
	</tr>
</table>